/*.body{
    align: center;
}*/
.Headtext{
    font-size:170%;
    
}

.Name{
    height: 100px;
}

.skills{
    float: left;
    background-color: #BEB0A7;
}

.list{
    list-style-type: none;
}

.html{
    height: 100px;
    width: 100px;
    margin-left: -25px;
}

.css{
    height: 100px;
    width: 100px;
    margin-top: 15px;
    margin-left: -25px;
}

.js{
    height: 100px;
    width: 100px;
    margin-left: -25px;
}

.figma{
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-left: -25px;
}

.python{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: -25px;
    padding-right: 25px;
}

.Education{
    float: left;
    background-color: #CDE7BE;
    padding-right: 60px;
    margin-top: -27px;
    padding-bottom: 50px;
    float:unset;
}

.Projects{
    background-color: #CDE7BE;
    padding-bottom: 50px;
}

.Hobbies{
    background-color: #CDE7BE;
    padding-bottom: 3px;
    margin-top: 38px;
}

.profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.h1{
    float: left;
}